body {
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 900px;
    max-width: 80vw;
    color: rgb(46, 46, 46);
}

/* header */

.header {
    position: relative;
}

/* footer */

footer {
    font-family: 'Karla', sans-serif;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
    max-width: 80vw;
    width: 900px;
}

footer div {
    padding-bottom: 7px;
}

footer a {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    padding-bottom: 2px;
    background-image: none;
}

/* text */

h1 {
    font-family: 'Manrope', sans-serif;
    word-wrap: normal;
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.3em;
}

b {
    color: #f19b38;
}

/* description button */

.description button {
    background-color: transparent;
    padding: 2px 2px 2px 0px;
    border: none;
    font-size: 1.5em;
    outline: none;
    text-decoration: none;
}

.description button:hover {
    color: gray;
	background-color:transparent;
}

/* links */

a { 
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    padding-bottom: 2px;
    background-image: linear-gradient(rgba(255,0,0,0) 55%, #ffd88f 10%);
    color: rgb(46, 46, 46);
}

a:hover {
    color: #f19b38;
}

button {
    font-family: 'Karla', sans-serif;
}

/* header links */

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.link {
    font-size: 1.5em;
    padding-right: 20px;
}

.link a {
    background-image: none;
    color: rgb(46, 46, 46);
}

.link a:hover {
    color: #ffd88f;
}